// .nutrition-item {
//   margin-top: 15px;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }
// .nutrition-infos {
//   // width: 100%;
//   // display: flex;
//   // flex-direction: row;
// }

// //   .nutrition-rating-label {
// //     font-size: 0.8em;
// //     color: gray;
// //   }
// .icon {
//   margin-top: 20px;
//   margin-right: 50px;
// }
.nutrition-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 10px;
}

/* Icon styling */
.icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* Container for nutrition information */
.nutrition-infos {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.nutrition-infos ion-label {
  font-size: 1em;
  font-weight: bold;
  color: #333;
}
.pn {
  font-weight: 70px;
  color: gray;
}
.nutrition-infos span {
  font-size: 0.9em;
  color: rgb(170, 170, 170);
}

/* Container for grams and icons */
.grams {
  display: flex;
  align-items: center;
}

.grams {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes this div to the end */
}
/* Styling for the nutrition item itself */
ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --padding-end: 0;
  --min-height: 50px;
}
