// ion-radio {
//   margin-right: -40px;
// }
ion-card {
  margin: 10px;
}

ion-card-header {
  background-color: #f8f8f8;
}

ion-card-content {
  display: flex;
  flex-direction: column;
}

ion-item {
  margin: 5px 0;
}

ion-button {
  margin-top: 10px;
}
