.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

  padding: 5px;

  .card-img {
    width: 200px;
  }

  .card-infos {
    span {
      font-size: 1.2em;
    }
  }
}
