<ion-content color="light">
  <div class="header">
    <h1>Search</h1>
    <div class="user-profile">
      <ion-img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXD3DZbORUc8msoEcO-y5jtvicD2I2vOJP8ec2WqLt6A&s"
      ></ion-img>
    </div>
  </div>

  <div class="search-bar">
    <ion-searchbar
      show-cancel-button="focus"
      animated="true"
      placeholder="Enter Product name"
    ></ion-searchbar>
  </div>
  <ion-list [inset]="true">
    <ion-item *ngFor="let result of results">
      <ion-label>{{ result }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
