.header {
  padding-left: 10px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 30px;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  color: rgb(162, 22, 162);
  margin: 0;
}
.user-profile {
  width: 45px;
  height: 45px;
  background-color: rebeccapurple;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
// ion-content {
//   width: 150px;
//   align-items: center;
//   display: flex;
// }

.product-img {
  display: inline-block;
}
