<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode
        [qrdata]="'this is a secret qr code message'"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      >
      </qrcode>
      <!-- <ion-button expand="block" class="ion-margin" (click)="startScan()"
        >scan QR code</ion-button
      >
      <ion-item>
        <ion-label class="ion-text-wrap"
          >Scanner Result : {{scannedResult}}</ion-label
        >
      </ion-item> -->
    </ion-card-content>
  </ion-card>
</ion-content>
