<ion-content>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="history">
        <ion-icon name="library-outline">history</ion-icon>
      </ion-tab-button>
      <ion-tab-button tab=>
        <ion-icon name="book-outline">Recs</ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="scan">
        <ion-icon name="barcode-outline">Scan</ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="products-list">
        <ion-icon name="search-outline">Search</ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="infos">
        <ion-icon name="person-outline">Profile</ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
