#container {
  text-align: center;
  background-color: aquamarine;
  display: block;
  margin-right: 10px;
  width: 370px;
  height: 600px;
  border: 2px solid rgb(4, 82, 53);
}

#op {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

#ap {
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  background-color: rgb(6, 238, 141);
  text-transform: uppercase;
}
