<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="text">
        <h2>Welcome to <span class="text-warning">RatePro</span></h2>
        <p>Create Your Account and Get Started!</p>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-icon
            name="person-outline"
            slot="end"
            color="rebeccapurple"
          ></ion-icon>
          <ion-input placeholder="Name" class="input"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon
            name="person-outline"
            slot="end"
            color="rebeccapurple"
          ></ion-icon>
          <ion-input placeholder="email" class="input"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon
            name="lock-closed-outline"
            slot="end"
            color="rebeccapurple"
          ></ion-icon>
          <ion-input placeholder="password" class="input"></ion-input>
        </ion-item>
      </div>
      <div class="text2">
        Finish setting up your account now and let’s get started!
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
