scoring SCORING METHOD How are food products rated Scoring method is based on
three criteria: 1 - The nutritional value The calculation method is based on
Nutri-Score, a science-based nutrition label adopted by 7 European countries
that measures the nutritional balance of food products, taking into account
calories, sugar, sodium, saturated fat, protein, fiber, fruits and vegetables.
The IARC (International Agency for Research on Cancer), a WHO agency, supports
this method, highlighting its effectiveness in auidina consumers Product scoring
2 - The additives Additives are chemicals added to a product to change its
properties. There are many such as dyes, preservatives, gelling agents or
sweeteners. Some of these substances pose a health risk. The results from
different studies on additives determine the level of risk: The standard is
based on the state of science to date. The following studies are taken into
account: EFSA *. efsa Autorité européenne de sécurité des aliments ANCEC 3 - The
organic nature of the product An organic product is one that has the USDA
organic seal, the Canada organic logo or the European organic label. They avoid
chemical pesticides which can pose a health risk
